# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user  {{ nginx_user }};
worker_processes  {{ nginx_worker_processes }};

error_log  {{ nginx_error_log }};
pid  {{ nginx_pid_file }};

events {
  worker_connections  {{ nginx_worker_connections }};
  multi_accept  {{ nginx_multi_accept }};
}

# Extra conf options
{% if nginx_extra_conf_options %}
{{ nginx_extra_conf_options }}
{% endif %}

http {
  include       {{ nginx_mime_file }};
  default_type  application/octet-stream;

  # Log settings
  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  {{ nginx_access_log }};

  # Common nginx optimizations
  sendfile        {{ nginx_sendfile }};
  tcp_nodelay     {{ nginx_tcp_nodelay }};
  tcp_nopush      {{ nginx_tcp_nopush }};

  keepalive_timeout  {{ nginx_keepalive_timeout }};

  # Extra http options
  {% if nginx_extra_http_options %}
  {{ nginx_extra_http_options }}
  {% endif %}

  # Gzip settings
  {% if nginx_gzip_settings %}
  {{ nginx_gzip_settings }}
  {% endif %}

  # Load modular configuration files from the /etc/nginx/conf.d directory.
  # See http://nginx.org/en/docs/ngx_core_module.html#include
  # for more information.
  include /etc/nginx/conf.d/*.conf;

  # Load virtual hosts from the /etc/nginx/sites-enabled directory
  # These files should be symlinks from the /etc/nginx/sites-available directory
  include /etc/nginx/sites-enabled/*;
}
